body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #242324;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.main__right {
  flex: 0.2;
  height: 100%;
}

.main__videos {
  flex-grow: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

#video-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
  align-content: center;
}

video {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  margin: 15px;
}
video:hover {
  transform: scale(1.2);
}
.video__bottom__right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  z-index: 2;
  margin: 0px;
}
.video__fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.video__fullscreen:hover {
  transform: scale(1);
}

.main__controls {
  background-color: #1c1e20;
}

.main__right {
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}

.main__controls {
  color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.main__controls__block {
  display: flex;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button i {
  font-size: 24px;
}

.main__right {
  display: flex;
  flex-direction: column;
}

.main__header {
  padding-top: 5px;
  color: #f5f5f5;
  text-align: center;
  font-size: 24px;
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}
.main__chat_window::-webkit-scrollbar {
  width: 0.3em;
}

.main__chat_window::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.main__chat_window::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.messages {
  color: white;
  list-style: none;
  padding-right: 40px;
}

.messages li {
  overflow-wrap: anywhere;
  margin-top: 10px;
}

.main__message_container {
  padding: 22px 12px;
  display: flex;
}

.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}

.leave_meeting {
  color: #eb534b;
}

.stop {
  color: #cc3b33;
}

.streaming {
  color: #2abb4a;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.fullspace {
  flex: 1;
}

.hidden {
  display: none;
}

.little__videos video {
  width: 100px;
  height: 100px;
  margin: 5px;
}

@media screen and (max-width: 1024px) {
  .main__left {
    flex: 1;
  }
  .main__right {
    position: absolute;
    width: 60%;
    left: 0;
    z-index: 3;
  }
  .main__controls {
    justify-content: center;
  }
  .main__controls__button span {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .main__controls__button {
    min-width: 50px;
  }
  #video-grid {
    position: unset;
  }
  video {
    width: 100px;
    height: 100px;
    border-radius: 2px;
    transition: none;
    margin: 2px;
  }
  video:hover {
    transform: scale(1);
  }
  .video__fullscreen {
    top: 0;
    left: 0;
    margin: 0;
    z-index: 3;
  }
  .video__bottom__right {
    display: none;
  }
}
